/* header and tab button styling */
.header{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--c2);
}
.logo{
    flex: 1;
    display: flex;
    justify-content: center;
}
.logo img{
    height: 50%;
    width: 50%;
}
.tabs{
    flex: 1;
    display: flex;
    justify-content: space-evenly;    
}
