/* Tab specific styling */
.home{
    background-color: var(--c1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.hero{
    margin: 0px 30vw 0px 30vw;
    display: flex;
    flex: 1;
}
.hero-img{
    border: 1px solid red;
    flex: 1;
}
.hero-img img{

}
.hero-info{
    flex: 1;
    border: 1px solid blue;

}
.hero-text{
    font-size: 180%;
    color: var(--c3);
}
